{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% filter upper %}
        <p>Hello stranger, can you tell us where you’ve been?</p>
        <p>More importantly however did you come to be here?</p>
        <button class="btn btn-warning"><a href="about">To page about us</a></button>
        {% endfilter %}

        {% for el in values %}
            {% if el != 1 %}
                <p>{{ el|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}

    </div>
{% endblock %}
